.home-main-div {
    width: 100%;
    min-height: 35rem;
    background-image: url(./HomeImages/backgroungHomeImage.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1%;
    & .home-Main-cards {
        width: min(18%, 350px);
        min-height: 200px;
        background-color: white;
        text-decoration: none;
        & .home-card-img {
            width: 100%;
            height: 65%;
        & img {
            width: 100%;
            height: 100%;
        }
      }
      .home-card-heading {
        width: 90%;
        height: 15%;
        margin: auto;
        color: rgb(101, 192, 195);
        & h3 {
            margin: 0%;
            font-size: 100%;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
      }
      & .home-card-para {
        width: 90%;
        height: 20%;
        color: #717171;
        text-transform: uppercase;
        line-height: 15px;
        letter-spacing: 0.05em;
        margin: 1em auto;
        font-size: 10px;
      }
    }
}

.home-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-bottom: 5rem;
}
.home-content-div {
    /* width: 50%; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 254, 255);
    font-size: 90%;

}



.home-slide-courses {
    position: fixed;
    top: 30%;
    left: 0.5;



    width: 12%;
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    font-size: 90%;
    & a {
        height: 50px;
        margin-bottom: 5px;
        text-decoration: none;
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10%;
        color: black;
        opacity: 0.5;
        box-shadow: 0 0px 3px 0 black;
        border-radius: 0 50px 50px 0;
        &:hover {
            opacity: 1;
            box-shadow: 2px 24px 36px -11px rgb(0 0 0 / 39%);
        }
    }
    &:hover {
        opacity: 1;
    }
}

.home-Main-cards:hover{
  background-color: cadetblue;
  & h3 {
      color: white;
  }
  & span,em {
      color: white;
  }
}

/* p {
    background: linear-gradient(90deg, #000, #fff, #000);
    background-size: 80% 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s linear infinite;
    &:hover {
        animation: step-end;
    }
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    
    100% {
      background-position-x: 500%;
    }
  } */


  /* ---------------------------- FrontEndHomeTop ------------------------------ */

  .FE-Top {
    width: 99%;
    margin: auto;
    height: 30px;
    background: #03203b;
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: 2px solid white;
    /* position: unset; */
    margin-top: 45px;
  }

  .FE-TopSub {
    width:50%;
    display: flex;
    justify-content:space-around;
    padding-bottom: 7px;
    & a {
      color: whitesmoke;
      text-decoration: none;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: 100;
      &:hover{
        color:cadetblue
      }
    }
  }