.multipleformfields-main-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.multipleformfields-sub-div {
    width: 80%;
    text-decoration: none;
    /* color: #3498DB; */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 10%;
    box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
}
.multipleformfields-sub-div-link{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.multipleformfields-sub-div-link img{
    width: 90%;
    height: 90%;
}
.multipleformfields-sub-div-link img:hover{
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 36px 1px rgb(0 0 0 / 10%);
}
.multipleformfields-code {
    width: 50%;
    height: 90%;
    transition: 0.5s;
}