.carousel-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.Rcard {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
}

.slick-prev:hover,
.slick-next:hover {
  color: #000;
}
