.multipleforms-main-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.multipleforms-sub-div {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: -0.5px -0.1px 10px -3px rgb(0 0 0 / 15%);
    gap: 10%;
    margin-bottom: 2%;
}
.multipleforms-sub-div h2{
    margin-top: 7%;
}
.multipleforms-input-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2%;
}
.multipleforms-subbmit input{
    padding: 10px 15px;
    background-color: darkblue;
    border: transparent;
    color: white;
    font-size: 120%;
}
.multipleforms-subbmit input:hover{
    background-color: rgb(0, 139, 130);
}