.GitHubtop-main {
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, rgb(26, 26, 26) 38.3%, rgba(26, 26, 26, 0.04) 97.47%, rgb(26, 26, 26) 100%), 
    url(../../../public/images/GitHub/GitHubBG.jpg);
    background-position: right center;
    background-size: contain;
    background-attachment: fixed;
    font-size: 300%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;

    /* display: none; */
}
.GitHubtop-h1{
    padding: 100px 0 0 30px;
    color: rgb(71, 197, 201);
    font-size: 300%;
}
.GitHubtop-p{
    padding: 15px 10% 20px 30px;
    color: rgb(86, 85, 85);
}




/* ---------------------------------------- GHC-Content ------------------------------ */

.GHC-Main {
    width: 95%;
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    /* justify-content: center; */
    & :hover {
        border-radius: 20px 0 20px 0;
        background-color: rgb(49, 114, 116);
        & p {
            color: rgb(185, 185, 185);
            background-color: rgb(49, 114, 116);
        }
    }
}
.GHC-one {
    min-width: 332px;
    max-width: 30%;
    padding: 10px;
    /* background-color: rgb(249, 249, 249); */
    box-shadow: 5px 0px 10px rgba(0,0,0,.08);
    & .GHC-one-head{
        margin: 30px 0;
    }
    & p{
        margin:0;
        line-break: anywhere;
        color: rgb(66, 66, 66);
    }
}
.GHC-one-head-sub {
    & h5 {
        margin: 0;
        padding: 10px;
    }
    & p{
        padding: 0 10px;
        line-break: anywhere;
        color: rgb(66, 66, 66);
    }
}

.GHC-two-sub {
    & h5 {
        background-color: rgb(210, 211, 211);
        padding: 10px;
    }
    & p {
        background-color: rgb(234, 234, 234);
        padding: 10px;
        border-bottom: 0.01px solid rgb(215, 215, 215);
    }
}

/* --------------------- */
@media (max-width : 768px) {
    .GHC-one {
        min-width: 42%;
    }
}
@media (max-width : 480px) {
    .GHC-one {
        min-width: 95%;
    }
}