.validationform-main-div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.validationform-sub-div {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -0.5px -0.1px 10px -3px rgb(0 0 0 / 15%);
    gap: 10%;
}
.validationform-sub-div h2{
    margin-top: 7%;
}
.validationform-input-fields {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.validationform-input input{
    margin: 10px 0;
    font-stretch: normal;
    border: transparent;
    border-bottom: 0.1px solid black;
}
.validationform-subbmit input{
    padding: 5px 15px;
    background-color: darkblue;
    border: transparent;
    color: white;
    font-size: 120%;

}