.JavaScript-top {
    width: 97%;
    margin: auto;
    height: 60vh;
    background-image: linear-gradient(90deg, rgb(134, 179, 187) 54.97%,  rgba(219, 208, 208, 0.04) 82.47%), 
    url(../../../public/images/bg.webp);
    background-position: right center ;
    background-size: contain;
    border-bottom: 0.01px dotted lightgray;
    & .JavaScript-top-cont {
        width: 45%;
        height: 80%;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h1 {
            color: aliceblue;
            filter: drop-shadow(0 0 10px #3d3d3d);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 300%;
        }
        & p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: url(../../../public/images/ReactHomeCards/jsx.png);
            background-size: 100% 100%;
            background-attachment: fixed;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}


/* ----------------------------------------------------------------------------------------------------------- */

.JavaScript-top-two {
    width: 97%;
    margin: auto;
    height: 60px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    & h3 i {
        color: rgb(212, 246, 134);
    }
    & h5, h3, i {
        cursor: pointer;
        color: rgb(229, 238, 247);
    }
    & h5:hover, h3:hover, i:hover {
        filter: drop-shadow(0 0 10px #3d3d3d);
    }
}

/* ---------------------------------------------------------------------------------------- */
.jsTask-heading {
    width: 90%;
    margin:5%  auto 0;
    border-bottom: 2px double rgb(207, 207, 207);
    & h1 {
        color: #d8e7bd;
        font-size: 110%;
        -webkit-text-stroke-width: .5px #e7bdbd;
    }
    & .span-text {
        font-family: cursive;
        color: #30cfd0;
        font-size: 150%;
    }
}

.jsTask {
    width: 95%;
    height: auto;
    margin: 2% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    & .jsTask-card {
        width: 230px;
        height: fit-content;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 2px 4px 12px rgba(0,0,0,.02);
        background: linear-gradient(to right,  #fbfbfb, white 100%);
        background-color: transparent;
        & img {
            width: 100%;
            height: 100px;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid rgb(159, 159, 159);
        }
        & h3 {
            width: 90%;
            height: 10%;
            font-size: 90%;
            display: flex;
            align-items: center;
            margin: 5% auto;
            height: 10%;
            background: linear-gradient(to right, #30cfd0,#b8ab18, #cd1f1f 100%);
            background-clip: text;
            color: transparent;
        }
        & div{
            min-height: 35%;
            & p {
                color: rgb(85, 84, 84);
                width: 85%;
                line-height: 15px;
                font-size: 85%;
                margin: 0% auto;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
        & span {
            width: 90%;
            display: flex;
            justify-content: flex-end;
            font-size: 70%;
            height: 10%;
            opacity: 0;
            color: #3d3d3d;
        }
    }
}


.jsTask-card:hover {
    /* border-radius: 10px 10px 4px 0;
    box-shadow: 4px 5px 0 0 rgb(223, 223, 223);
    background: linear-gradient(to right,  rgb(76, 164, 168), #9ac2c0 100%);
    background-color: transparent; */

    & h3 {
        background: linear-gradient(to right,  #cbf57d, #d08989 70%);
        background-clip: text;
        color: transparent;
    }
    & div{
        & p {
            /* color: aliceblue; */
            filter: drop-shadow(0 0 0.1px #474747);
        }
    }
        & span {
            opacity: 0.5;
        }
        & span:hover {
            opacity: 1;
        }
    }


    .jsTaskbg {
        width: 100%;
        /* background-color: #fcfafa; */
    }