.LoginForm-main-div {
    /* width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -30px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
}
.LoginForm-sub-div {
    min-width: 550px !important;
    max-width: 50%!important;
    /* height: 23.5rem; */
    height: auto;
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 15%);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginForm-logo {
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    /* gap: 70%; */
}
.LoginForm-logo-image {
    display: none;
    width: 100px;
    height: 35px;
    /* margin: 3% 0 0 3%; */
}
.LoginForm-logo i{
    width: 100%;
    text-align: right;
    color: rgb(234, 29, 29);
    cursor: pointer;
    transition: all 0.7s ease;
    &:hover {
        transition: all 0.3s ease;
    }
}

.LoginForm-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* gap: 5%;
    margin-top: 5%; */
}
.LoginForm-heading {
    width: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
}
.LoginForm-heading h2{
    width: 65%;
}

.LoginForm-main-form {
    width: 100%;
    height: 100%;
    border: none;
    /* margin-left: -60px;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 0%;
}


.LoginForm-form-input {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    height: 70px;
    position: relative;
    padding-top: 10px;
}
.LoginForm-form-input input{
    width: 85%;
    height: 80%;
    font-size: 14px !important;
    outline-style: none;
    &:focus{
        border-color: cadetblue;
    }
    &:valid{
        border-color: cadetblue;
    }
}
.LoginForm-form-input input:focus ~ label, .LoginForm-form-input input:valid ~ label{
    transform: translateY(-26.5px);
    font-size: 12px;
    color: cadetblue;
}
.LoginForm-form-input label{
    position: absolute;
    bottom: 26px;
    left: 3%;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
}
.LoginForm-passwordIcon {
    position: absolute;
    right: 10px;
    top: 17.5px;
    cursor: pointer;
    font-size: 15px;
}

.LoginForm-form-error1 {
    position: absolute;
    color: red;
    font-size: 70%;
    top: 60px;
    left: 0;
}
.LoginForm-form-error2 {
    position: absolute;
    color: red;
    font-size: 70%;
    top: 60px;
    left: 0;
}


.LoginForm-form-checkbox-container {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 34%; */
    justify-content: space-between;
    font-size: 70%;
    margin-bottom: 15px;
}
.LoginForm-form-checkbox-container-one{
    display: flex;
    align-items: center;
}
.LoginForm-form-checkbox-container-one input{
    width: 30px;
    height: 15px;
    cursor: pointer;
}

.LoginForm-form-checkbox-container-two{
    display: flex;
    align-items: center;
}
.LoginForm-form-checkbox-container-two a{
    text-decoration: none;
    color: rgb(46, 46, 46);
    transition: all 1s ease;
    margin-bottom: 0% !important;
    color: rgb(34, 48, 49);
    &:hover {
        color: cadetblue;
        transition: all 0.3s ease;
    }
}


.LoginForm-form-subbmitButton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
    margin-left: -15px;
    margin-bottom: 15px;
}
.LoginForm-form-subbmitButton button{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 104, 107) !important;
    font-size: 120%;
    color: rgb(250, 250, 250);
    border-radius: 30px;
    font-weight: 600;
    border: none;
    margin: 0px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgb(8 1 6 / 5%);
    
    &:hover {
        background-color: rgb(28, 84, 87) !important;
        color: rgb(231, 231, 231);
    }
}


.LoginForm-line hr{
    background-color: cadetblue;
    margin-bottom: 10px;
}

.LoginForm-singup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    

}
.LoginForm-singup p{
    margin: 0;
    font-size: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.LoginForm-singup-link{
    /* width: 20%; */
    font-size: 100%;
    text-decoration: none;
    color: cadetblue;
    display: flex;
    justify-content: center;
    margin-bottom: 0% !important;
    margin-left: 5px;
    &:hover {
        font-weight: 600;
    }
}

/* ---------------------------------------- Media Query at max-width : 768px ---------------------------------------------------------- */

@media (max-width:768px) {
    .LoginForm-sub-div {
        min-width: 500px !important;
        max-width: 60% !important;
    }
}

/* ---------------------------------------- Media Query at max-width : 480px ---------------------------------------------------------- */

@media (max-width:480px) {
    .LoginForm-sub-div {
        min-width: 90% !important;
        max-width: 90% !important;
    }
    .LoginForm-form-checkbox-container {
        margin-bottom: 0%;
    }
}