/* Your CSS styles
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

/* Ensure cards are displayed in a row 
.card {
  display: inline-block;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin-right: 10px; /* Adjust the margin as needed 
} */



/* styles.css */
.carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

.slick-prev,
.slick-next {
  font-size: 24px;
  color: #333;
}

.slick-prev:hover,
.slick-next:hover {
  color: #000;
}
