.signupForm-main-div {
    /* width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -30px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.signupForm-sub-div {
    width: 1000px;
    /* height: 27rem; */
    box-shadow: 0 4px 10px 1px rgb(0 0 0 / 15%);
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signupForm-logo {
    width: 90%;
    height: 5%;
    display: flex;
    align-items: center;
    /* gap: 70%; */
}
.signupForm-logo-image {
    display: none;
    /* display: flex; */
    width: 100px;
    height: 35px;
    /* margin: 3% 0 0 3%; */
}
.signupForm-logo i{
    width: 100%;
    text-align: right;
    padding-top: 30px;
    /* margin-bottom: 34px; */
    color: red;
    cursor: pointer;
    transition: all 0.7s ease;
    &:hover {
        transition: all 0.3s ease;
    }
}
.signupForm-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.signupForm-heading {
    width: 100%;
    /* height: 200px; */
    display: flex;
    /* display: none; */
    justify-content: center;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signupForm-heading h2{
    width: 65%;
}

.signupForm-main-form {
    width: 100%;
    border: none;
    box-shadow: none;
    margin: 0%;
    padding: 0;
}


.signupForm-form-input {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    margin: 0%;
    padding: 20px 0 0 0;
    overflow: visible;
}
.signupForm-form-input-fields {
    width: 46%;
    height: 100%;
    overflow: visible;
}
.signupForm-form-input-fields input{
    width: 100%;
    height: 100%;
    font-size: 14px !important;
    outline-style: none;
    border: 1px solid #4e4e4e !important;
    border-radius: 3px;
    
    &:focus{
        border-color: cadetblue !important;
    }
    &:valid{
        border-color: cadetblue;
    }
}
.signupForm-form-input-fields input:focus ~ label,
.signupForm-form-input-fields input:valid ~ label{
    transform: translateY(-18.5px);
    font-size: 12px;
    color: cadetblue;
}
.signupForm-form-input-fields label{
    width: fit-content;
    position: absolute;
    margin-top: -27px;
    margin-left: 1%;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: sans-serif;
}


.signupForm-input-type-number {
    padding: 10px;
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
}

.signupForm-passwordIcon {
    width: 5px;
    position: relative;
    right: -90%;
    top: -33px;
    cursor: pointer;
    font-size: 100%;
}


.signupForm-form-error1 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -10%;
}
.signupForm-form-error2 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -10%;
}
.signupForm-form-error3 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -10%;
}
.signupForm-form-error4 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -10%;
}
.signupForm-form-error5 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -90%;
}
.signupForm-form-error6 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -90%;
}
.signupForm-form-error7 {
    color: red;
    font-size: 60%;
    position: relative;
    top: -30px;
    left: 3%;
}

.signupForm-form-checkbox-container {
    width: 100%;
    font-size: 100%;
    gap: 5px;
    margin-top: 20px;
    margin-left: 1.5%;
}
.signupForm-form-checkbox-container-one{
    display: flex;
    align-items: center;
}
.signupForm-form-checkbox-container-one input{
    width: 30px;
    height: 15px;
    cursor: pointer;
}

.signupForm-form-checkbox-container-two{
    display: flex;
    align-items: center;
}
.signupForm-form-checkbox-container-two {
    text-decoration: none;
    color: rgb(46, 46, 46);
    transition: all 1s ease;
    margin-bottom: 0% !important;
    margin-left: 5px;
    color: cadetblue;
    transition: all 0.3s ease;
}


.signupForm-form-subbmitButton {
    width: 100%;
    display: flex;
    justify-content: center;
}
.signupForm-form-subbmitButton button{
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 104, 107) !important;
    font-size: 120%;
    color: rgb(250, 250, 250);
    border-radius: 30px;
    font-weight: 600;
    border: none;
    margin: 0px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgb(8 1 6 / 5%);
    &:hover {
        background-color: rgb(28, 84, 87) !important;
        color: rgb(231, 231, 231);
    }
}


.signupForm-line hr{
    width: 70%;
    background-color: cadetblue;
    margin-left: 15%;
    margin-top: 15px;
}

.signupForm-singup {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.signupForm-singup p{
    /* width: 23%; */
    margin: 0;
    font-size: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.signupForm-singup-link{
    /* width: 8%; */
    font-size: 100%;
    text-decoration: none;
    color: cadetblue;
    display: flex;
    justify-content: center;
    margin-bottom: 0% !important;
    margin-left: 5px;
    &:hover {
        font-weight: 600;
    }
}
/* --------------------------------------- Media Query at max-width : 1200px ---------------------------------------------------------- */
@media (max-width:1200px) {
    .signupForm-sub-div {
        width: 85%;
    }
    .signupForm-form-checkbox-container {
        font-size: 75%;
    }
}

/* --------------------------------------- Media Query at max-width : 768px ---------------------------------------------------------- */
@media (max-width:768px) {
    
}

/* --------------------------------------- Media Query at max-width : 480px ---------------------------------------------------------- */

@media (max-width : 480px) {
    .signupForm-main-form {
        width: 100%;
        border: none;
        box-shadow: none;
        margin: 0%;
    }
    
    .signupForm-form-input {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        padding: 5px 0 0 0;
        gap: 5px;
    }
    .signupForm-form-input-fields label{
        margin-left: 3%;
    }
    .signupForm-form-input-fields {
        width: 100%;
        height: 40px;
        margin: 7px 0;
    }
    .signupForm-form-checkbox-container {
        margin-left: 0px;
    }
    .signupForm-form-subbmitButton button {
        width: 50%;
    }
    .signupForm-singup p {
        font-size: 85%;
    }
}