            /* filter: drop-shadow(0 0 0.6px #3d3d3d); */

            /* text-shadow: 00 20px #00fffb, 0 0 40px #0081bc; */
            /* background: linear-gradient(to right, #30cfd0, #3d245c 100%);
            background-clip: text;
            color: transparent; */

            /* box-shadow: inset -3px -3px 7px #ffffff42, inset 3px 3px 5px rgba(0, 0, 0, 0.374); */

/* Text stro  ke */
            /* -webkit-text-stroke-width: 10px;
            -webkit-text-stroke-color: #d8e7bd;
            -webkit-text-stroke: 4px #d8e7bd; 
            color: transparent;*/


/* ----------------------------------------------------------------------- */
.home-Main-cards:hover,.sitemap-card:hover {
  background-color: cadetblue;
  & h3 {
      color: white;
  }
  & span,em {
      color: white;
  }
}


/*------------------------------------------------------------------ faq ---------------------------------------------------------------------*/

.faq {
  width: 85%;
  margin: auto;
  border-radius: 5px;
}
.faq-box {
  background-color: #f2f9f5;
}
.faq-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  & h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    &:hover {
      color: rgb(171, 100, 100) !important;
    }
  }
}
.faq-dropdown {
  display: flex;
  padding: 0 20%;
  justify-content: space-between;
}
.faq-text-p {
  margin: 3px;
  color: #1326cd;
  font-size: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.faq-icon-text {
  color: rgb(37, 105, 108);
  filter: drop-shadow(0 0 0.5px #3d3d3d);
  margin-left: -20px;
}
.faq-text-output {
  color: #3d3d3d;
}

/*------------------------------------------------------------------ faq ---------------------------------------------------------------------*/
